body,* {
    box-sizing: border-box;
}
fieldset {
    margin: 0;
    padding:0;
    border:0;
}

fieldset.screen {
    width: 100%;
    height: calc(100vh - 28.4px);
}

fieldset.screen .map{
    background-image: url(/assets/grass.jpg);
    background-position: center center;
    width: 100%;
    height: 100%;
    position:relative;
    overflow:hidden;
}

fieldset.screen .map .player{
    background-image: url(../assets/hero.gif);
    width:32px;
    height:32px;
    top:50%;
    left:50%;
    position:absolute;
}